@tailwind base;
@tailwind components;
@tailwind utilities;





* {
    font-family: "Iosevka SS14 Web", monospace !important;
}

html {
    background: url(../assets/bg/walltest-1.png), #11111b;
    background-size: auto;
}

a.navlink {
    @apply hover:text-brand-300 transition-colors
}

span.hli {
    @apply text-brand-300 transition-colors }

a.navlink:hover span.hli {
    @apply text-brand-400 transition-colors
}

span.sep {
    @apply text-indigrey-500;
}

#name:hover {
    cursor: grabbing;
}